body{
background: #0F172A;}
header{position: absolute;
width: 990px;
height: 30px;
left: 53px;
top: 40px;}
.logo{width: 80px;
margin-top: -50px;}
.div{margin-top: -40px;
width: auto;}
span{display: inline-block;
color: white;
padding-right: 100px ;
float: right;
font-family: sans-serif;
font-size: 14px;}
.hello{color: white;
position: absolute;
width: auto;
height: 24px;
left: 70px;
top: 216px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;}
h2{position: absolute;
width: 469.73px;
height: 60px;
left: 70px;
top: 227px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
color: white;}
h3{position: absolute;
width: 463px;
height: 48px;
left: 70px;
top: 290px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #CD05FF;
}
.hero{position: absolute;
left: 583px;
top: 103px;
width: 600px;
margin-left: 335px;
margin-top: -90px;}
button{position: absolute;
width: 220px;
height: 60px;
left: 70px;
top: 431px;
background: linear-gradient(95.33deg, #004AF9 0%, #DB00FF 100.88%);
font-size: 20px;
color: #FFFFFF;}
.rectangle{
	position: absolute;
width: auto;
height: 42px;
left: 0px;
top: 715px;
background: linear-gradient(89.77deg, #0449F9 -66.72%, #F402EF 139.65%);
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15.2032px;
line-height: 23px;
color: white;
}
.allin{margin-top: 10px;}
.screw{position: absolute;
width: 100px;
top: 630px;}
.h5{position: absolute;
width: 469.73px;
height: 60px;
left: 70px;
top: 800px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
color: white;}
.tinyline{position: absolute;
width: 125px;
height: 5px;
left: 131px;
top: 930px;
background: linear-gradient(89.77deg, #0449F9 -66.72%, #F402EF 139.65%);
border-radius: 146px;}
.thumbnail1{
position: absolute;
width: 650px;
height: 400px;
left: 70px;
top: 1000px;
background: #4F5A74;
border-radius: 10px;
}
.thumbnailimg{
position: absolute;
width: 650px;
height: 400px;
border-radius: 10px;}
.thumbnail2{
position: absolute;
width: 650px;
height: 400px;
left: 800px;
top: 1000px;
background: #4F5A74;
border-radius: 10px;
}
.thumbnail2img{
position: absolute;
width: 650px;
height: 400px;
border-radius: 10px;
}
.thumbnail3{
position: absolute;
width: 650px;
height: 400px;
left: 70px;
top: 1460px;
background: #4F5A74;
border-radius: 10px;
}
.thumbnail3img{
position: absolute;
width: 650px;
height: 400px;
border-radius: 10px;
}
.thumbnail4{
position: absolute;
width: 650px;
height: 400px;
left: 800px;
top: 1460px;
background: #4F5A74;
border-radius: 10px;}
.thumbnail4img{
position: absolute;
width: 650px;
height: 400px;
border-radius: 10px;}
.spring{position: absolute;
width: 200px;
left: 1318px;
top: 980px;}
.aboutme{position: absolute;
width: 469.73px;
height: 60px;
left: 70px;
top: 1920px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
color: white;}
.tinyline2{position: absolute;
width: 145px;
height: 5px;
left: 140px;
top: 2040px;
background: linear-gradient(89.77deg, #0449F9 -66.72%, #F402EF 139.65%);
border-radius: 146px;}
.aboutdiv{}
.abouttxt{
width: 600px;
height: 60px;
font-family: 'Poppins';
font-style: normal;
font-size: 16px;
color: #D9D5D5;
margin-top: 2080px;
margin-left: 60px;}
.dullimg{width: 369px;
height: 354px;
margin-left: 1000px;
margin-top: -170px;}
.dullimg:hover{filter: grayscale(50%);
transition:5sec ;}
.outbox{
position: absolute;
width: 850px;
height: 400px;
left: 325px;
top: 2540px;
border-radius: 10px;
border: 3px solid;
border-image-source: linear-gradient(156.99deg, #3918FF 0%, #DB00FF 100%);
border-image-slice: 1;}
.hr{
position: absolute;
width: 426px;
height: 48px;
left: 565px;
top: 2550px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;
color: #FFFFFF;}
.ht{
position: absolute;
width: 426px;
height: 48px;
left: 630px;
top: 2600px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;
color: #FFFFFF;}
.button{position: absolute;
width: 220px;
height: 60px;
left: 630px;
top: 2750px;
background: linear-gradient(95.33deg, #004AF9 0%, #DB00FF 100.88%);
font-size: 20px;
color: #FFFFFF;
border: 1px #0F172A;;}
.KT{width: 320px;
height: 32px;
margin-top: 1000px;
margin-left: 57px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;}
.footerbutton{position: absolute;
width: 220px;
width: 234px;
height: 40px;
top: 3400px;
background: linear-gradient(95.33deg, #004AF9 0%, #DB00FF 100.88%);
font-size: 16px;
color: #FFFFFF;
border: 1px #0F172A;
border-radius: 50px;
margin-left: -10px;s}
.footimg{position: absolute;
width: 434px;
height: 413px;
left: 1000px;
top: 3250px;}
.social{
width: 200px;
margin-top: 100px;
margin-left: 70px;}
.cta:hover{
  background-color: grey;}